 body{
 	background-color: #1b2127;
 	font-family: 'Gothic A1', sans-serif;
 	color: white;
 }

a {

	text-decoration: none;
	text-transform: none;
	color: white;

}
section img {

	width: 300px;
	height: 200px;
	border: 3px solid #1b2127;
	border-radius: 10px; 

}

h1 {

 	font-family: 'Concert One', cursive;
 	font-size: 40px;
 	text-align: center;

}

h3 {

 	font-family: 'Nunito Sans', sans-serif;

}

p {

	font-size: 15px;

	padding-left: 100px;

	padding-right: 100px;

}

 .header {
	background-color: #1b2127;
	color: white;
	display: flex;
	height: 70px;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
 }

 ol {
 	margin: 0 10px;
 	padding: 0;
  	list-style: none;
 }

 li {

 	display: flex;
 	margin-right: 20px;

 }

 figure {
 	margin: 0;
}

.header a {

	color: white;
	text-decoration: none;
	display: inherit;
	justify-content: space-between;

}

.menu {

	height: inherit;

}

.header ol {

	display: flex;
	height: inherit;
}

.header ol li {

	height: inherit;

}

.header a {

	display: flex;
	align-items: center;

}


.hero {

	display: flex;
	flex-direction: column;
	align-items: center;

}

.hero p, .hero h3{

	color: white;

}

.education-section {
	
	display: flex;

	justify-content: space-around;

	flex-wrap: wrap;

}

.education {

	margin-bottom: 15px;
	border: 1px solid gray;
  	border-radius: 10px;
	padding: 20px;
	background: white;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;

  	flex-direction: column;

  	width: 500px;
}


.education
h1,
h2,
h3,
h4,
h5,
h6,
p {

	text-align: center;

	color: #1b2127;

}

.education-certificate {

	margin-bottom: 15px;
	border: 1px solid gray;
  	border-radius: 10px;
	padding: 20px;
	background: white;
  	display: flex;
  	align-items: center;
  	
  	flex-direction: column;

  	width: 500px;
}

.education-projects {

	margin-bottom: 15px;
	border: 1px solid gray;
  	border-radius: 10px;
	padding: 20px;
	background: white;
  	display: flex;
  	align-items: center;
  	
  	flex-direction: column;

  	width: 500px;

}